footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
}

.footer > a{
    color: #007bff;
    text-decoration: none;
  }