/* TODO Add site wide styles */
*{
    margin: 0px;

}
a {
    text-decoration: none;
    color: black
}

li {
    list-style-type: none;
  }

body {
    background-image: url('https://i.imgur.com/IF9AouF.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed ;
}
