/* TODO Add site wide styles */
a {
    text-decoration: none;
    color: black
}

li {
    list-style-type: none;
  }

body {
    background-image: url('https://images.pexels.com/photos/7134999/pexels-photo-7134999.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

/* *{
    color: white;

} */