.form-content {
    flex-direction: column;
    padding: 0px 40px 20px 40px;
    width: 400px;
  }

#login-h1 {
    text-align: center;
}
  
  .form-content>button {
    background-color: #d32323;
    width: 100px;
    padding: 10px 10px;
    color: white;
    border-radius: 4px;
    border: none;
  }
  
  .form-content>button:hover {
    cursor: pointer;
    background-color: rgba(237, 62, 62, 0.638);
  }
  
  li {
    list-style-type: none;
  }
  
  .modal-errors {
    padding-bottom: 10px;
    color: red;
  }
  
  .form-chunk {

    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .form-chunk>label {
    font-weight: bold;
    display: flex;
    text-align: left;
    margin-bottom: 8px;
  }
  
  .form-chunk>input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sub-form-chunk {
    display: flex;
    gap: 10px;
  }
  
  .sign-up button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #893200;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  .form-container {
    position: relative;
    z-index: 10;
  }