
.homepage-container {

    height: 100vh;
    background-image: url('https://media.discordapp.net/attachments/1110721109076221993/1180589157198860439/IMG_0908.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed ;
  }
  
.redirect-link {
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 87%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the link is on top of the image */
}

.redirect-link  > a {
    background-image: url('https://images.pexels.com/photos/861443/pexels-photo-861443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed ;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
} 

.redirect-link  > a:hover {
    box-shadow: 6px 6px 10px white;
    padding: 24px 45px;
}

.homepage-text {
    color: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    top: 78%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the link is on top of the image */
    backdrop-filter: blur(40px);
}