.homepage-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('https://media.discordapp.net/attachments/1110721109076221993/1180589157198860439/IMG_0908.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .redirect-link {
    position: absolute;
    top: 5%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the link is on top of the image */
  }