#modal-content {
    border-radius: 10px;
    background-image: url('https://media.istockphoto.com/id/1280319000/photo/sunset-in-the-mountains-panorama-carpathians-ukraine.jpg?s=612x612&w=0&k=20&c=6359-ANXqwgtOGehNXvGKloZfG42oItGkUS_hca2cf8=');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

.h1-update-game {
    text-align: center;
}

.update-game-form-container {
    padding: 10px 15px;
}


.update-game-form > div > p{
    width: 15%;
    margin: 0px;
}
.update-game-form > div > input, .update-game-form > div > select{
    width: 500px;
    border-radius: 4px;
}

.update-game-form > .info-box {
    display: flex;
    align-items: center;
}

.info-box {
    margin: 10px;
}

.error {
    margin: 0px;
    padding: 0px 90px;
    color: red
}

.submit-update {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 4px;
}
